
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 20px;
  border: 6px solid transparent;
  /* background-clip: content-box; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
